body {
    background-color: #17B169;
    color: white;
    font-family: "Kanit";
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    height: auto;
}

button {
    background-color: black;
    color: white;
    font-family: "Rajdhani";
}

.passo {
    display: none;

}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}